@charset "utf-8";
/* CSS Document */

body {
  width: 100%;
  height: 100%;
  background: #fff;
}

html {
  width: 100%;
  height: 97%;
}

#container {
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", arial;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 30px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
  border-bottom: 7px solid #0099CC;
  box-shadow: 0 -5px 0 #efefef inset;
  -moz-box-shadow: 0 -5px 0 #efefef inset;
  -webkit-box-shadow: 0 -5px 0 #efefef inset;
}

/*----------Header------------*/

#header {
  background: #0099CC;
  border-bottom: 5px solid #efefef;
  color: #fff;
  height: 30px;
  padding: 14px 18px 0 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#21b9ec), to(#0099CC));
  background: -moz-linear-gradient(top,  #21b9ec,  #0099CC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21b9ec', endColorstr='#0099CC');
}

#header ul li {
  display: inline;
  text-decoration: none;
  margin-right: 10px;
}

#header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/*----------Section------------*/

.section {
  border-bottom: 4px solid #eeeeee;
  padding: 38px 0 38px;
  margin: 0 18px;
}

.section h1 {
  font-family: 'LeagueGothicRegular', serif;
  font-size: 5em;
  color: #000;
  letter-spacing: 0;
  margin-top: 40px;
  margin-left: 70px;
}

.section h2 {
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 2px;
  margin-left: 70px;
  color: #0099CC;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2em;
}

.section ul {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.8em;
  float: right;
  margin-top: -75px;
  color: #666;
}

.section ul span {
  color: #0099CC;
  font-weight: bold;
  font-size: 13px;
}

.section ul a {
  color: #666;
  text-decoration: none;
}

.section ul a:hover {
  color: #444;
}

.section .left {
  width: 202px;
  float: left;
}

.section .left p {
  font-size: 14px;
  padding-right: 20px;
  margin-top: 10px;
  color: #888;
}

.section .left h3 {
  font-family: 'LeagueGothicRegular', serif;
  font-size: 24px;
  color: #000;
}

.section  .right {
  float: right;
  width: 622px;
}

.section p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.3em;
}

.section h4 {
  font-family:Arial, Helvetica, sans-serif;
  color: #0099CC;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

/*----------Section Top------------*/

.sectiontop {
  height: 100%;
  padding: 2% 0 2%;
}

@media screen and (max-width: 1024px) {
.section h1 {
  font-size: 10em;
  margin-top: 15%;
}

.section h2 {
  font-size: 2em;
  margin-top:2%;
}
}